/* global element styling */

body{
    display: flex;
    font-family: Helvetica, sans-serif;
    gap: 2em;

    font-size: large;
}

button{
    padding: 0.75em;
    background-color: lavenderblush;
    align-self: center;
}
button:hover{
    background-color: #ffb6c1;
}

img{
    height: 150px;
    width: 200px;
    object-fit: cover;
}

img.selected{
    border: 3px solid palevioletred;
}

/* left side */
section.info{
    width: 40%;

    .results{
        display: flex;
        gap: 2em;
    }

    .session_stats{
        background-color: pink;
        padding: 1em 2em 2em 2em;
        border-radius: 10px;
        font-weight: bold;
    }

    #round_result{
        font-size: xx-large;
    }
}


/* right side */
section.gameplay{
    width: 60%;
}

.choice_box{
    background-color: thistle;
    padding: 1em;
    text-align: center;
    margin-top: 5em 0em;
    
}

.cpu_play{
    display: flex;
    gap: 5em;

    h3{
        text-decoration: underline;
    }

    img{
        border: 5px solid black;
        border-radius: 50%;
        height: 150px;
        width: 150px;
    }

    .highlight{
        border-color: palevioletred;
    }
}